tests/integration/src/test/resources/module/schema-module-basic-auth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.mulesoft.org/schema/mule/module-basic-auth" 
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"/>

    <!-- TODO WIP-OPERATIONS: THIS SCHEMA MUST BE AUTOGENERATED, REMOVE. -->

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="config">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                    <xs:annotation>
                        <xs:documentation>Default configuration</xs:documentation>
                    </xs:annotation>
                    <xs:attribute type="xs:string" use="required" name="name"/>
                    <xs:attribute type="xs:string" use="optional" name="someUserConfig" default="'some-username'"/>
                    <xs:attribute type="xs:string" use="optional" name="somePassConfig" default="'some-password'"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns="http://www.mulesoft.org/schema/mule/module-basic-auth" substitutionGroup="mule:abstract-message-processor"
                type="do-login-type" name="do-login"/>
    <xs:complexType name="do-login-type">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="required" name="config-ref"/>
                <xs:attribute type="xs:string" use="optional" name="someUser" default="'usernameX'"/>
                <xs:attribute type="xs:string" use="optional" name="somePass" default="'passwordX'"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>