tests/integration/src/test/resources/module/schema-module-simple.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.mulesoft.org/schema/mule/module-simple"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"/>

    <!-- TODO WIP-OPERATIONS: THIS SCHEMA MUST BE AUTOGENERATED, REMOVE. -->

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns="http://www.mulesoft.org/schema/mule/module-simple" substitutionGroup="mule:abstract-message-processor"
                type="set-payload-hardcoded-value-type" name="set-payload-hardcoded-value"/>
    <xs:complexType name="set-payload-hardcoded-value-type">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns="http://www.mulesoft.org/schema/mule/module-simple" substitutionGroup="mule:abstract-message-processor"
                type="set-payload-param-value-type" name="set-payload-param-value"/>
    <xs:complexType name="set-payload-param-value-type">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="xs:string" use="required" name="value"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns="http://www.mulesoft.org/schema/mule/module-simple" substitutionGroup="mule:abstract-message-processor"
                type="set-payload-param-default-value-type" name="set-payload-param-default-value"/>
    <xs:complexType name="set-payload-param-default-value-type">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns="http://www.mulesoft.org/schema/mule/module-simple" substitutionGroup="mule:abstract-message-processor"
                type="set-payload-no-side-effect-type" name="set-payload-no-side-effect"/>
    <xs:complexType name="set-payload-no-side-effect-type">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns="http://www.mulesoft.org/schema/mule/module-simple" substitutionGroup="mule:abstract-message-processor"
                type="do-nothing-type" name="do-nothing"/>
    <xs:complexType name="do-nothing-type">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns="http://www.mulesoft.org/schema/mule/module-simple" substitutionGroup="mule:abstract-message-processor"
                type="set-payload-param-value-appender-type" name="set-payload-param-value-appender"/>
    <xs:complexType name="set-payload-param-value-appender-type">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns="http://www.mulesoft.org/schema/mule/module-simple" substitutionGroup="mule:abstract-message-processor"
                type="set-payload-add-params-values-type" name="set-payload-add-params-values"/>
    <xs:complexType name="set-payload-add-params-values-type">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute name="value1" type="xs:integer" use="required"/>
                <xs:attribute name="value2" type="xs:integer" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>