tests/integration/src/test/resources/module/schema-module-mule-utils.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.mulesoft.org/schema/mule/module-mule-utils" 
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"/>

    <!-- TODO WIP-OPERATIONS: THIS SCHEMA MUST BE AUTOGENERATED, REMOVE. -->

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="config">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                    <xs:annotation>
                        <xs:documentation>Default configuration</xs:documentation>
                    </xs:annotation>
                    <xs:attribute type="xs:string" use="required" name="name"/>
                    <xs:attribute type="xs:string" use="required" name="configParam"/>
                    <xs:attribute type="xs:string" use="optional" name="defaultConfigParam" default="'some default-config-value-parameter'"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns="http://www.mulesoft.org/schema/mule/module-mule-utils" substitutionGroup="mule:abstract-message-processor"
                type="set-payload-hardcoded-value-type" name="set-payload-hardcoded-value"/>
    <xs:complexType name="set-payload-hardcoded-value-type">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="required" name="config-ref"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns="http://www.mulesoft.org/schema/mule/module-mule-utils" substitutionGroup="mule:abstract-message-processor"
                type="set-payload-param-value-type" name="set-payload-param-value"/>
    <xs:complexType name="set-payload-param-value-type">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="required" name="config-ref"/>
                <xs:attribute type="xs:string" use="required" name="value"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns="http://www.mulesoft.org/schema/mule/module-mule-utils" substitutionGroup="mule:abstract-message-processor"
                type="set-payload-config-param-value-type" name="set-payload-config-param-value"/>
    <xs:complexType name="set-payload-config-param-value-type">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="required" name="config-ref"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns="http://www.mulesoft.org/schema/mule/module-mule-utils" substitutionGroup="mule:abstract-message-processor"
                type="set-payload-config-default-param-value-type" name="set-payload-config-default-param-value"/>
    <xs:complexType name="set-payload-config-default-param-value-type">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="required" name="config-ref"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns="http://www.mulesoft.org/schema/mule/module-mule-utils" substitutionGroup="mule:abstract-message-processor"
                type="set-payload-add-param-and-property-values-type" name="set-payload-add-param-and-property-values"/>
    <xs:complexType name="set-payload-add-param-and-property-values-type">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="required" name="config-ref"/>
                <xs:attribute type="xs:string" use="required" name="value1"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>